ZRoot{
	background-color: transparent;
}

ZGenericDial{
	background-color: transparent;
	border: 0;
	color: transparent;
	fixed-height: 64;
	fixed-width: 64;
	qproperty-ringWidth: 5;
}

ZGenericDial::gauge{
	color: rgba(255,255,255,30%);
	width: 5;
}


ZPieGauge::gauge{
	color: #CC3F12;
}

ZLabel{
	color: white;
}
