ZRoot{
	background-color: black;
	spacing: 0px;
}

ZButton{
	background: transparent;
	border: 18px 40px 18px 18px;
	border-image: url("button1.png") 18 40 18 18 stretch;
	color: #222;
	font-family: PF Tempesta Seven;
	font-size: 8px;
	font-weight: bold;
	max-height: 32px;
	min-height: 32px;
	max-width: 96px;
	min-width: 96px;
	padding-left: 40px;
}


#r1c4{
	background-color: #00B700;
	color: #004A00;
}

#r2c2{
	background-color: #B70000;
	color: #4A0000;
}
