ZRoot{
	background-color: transparent;
}

ZLabel{
	color: white;
}

ZGenericDial{
	background-color: transparent;
	alternate-background-color: #005EB9;
	color: transparent;
	qproperty-ringWidth: 10;
	max-height: 240;
	max-width: 240;
}
