[Desktop Entry]
Exec=phoebus
NoDisplay=true
MimeType=x-content/audio-player;
Version=0.1
Name=Phoebus
Name[be@latin]=Phoebus
Name[bg]=Phoebus
Name[br]=Phoebus
Name[ca]=Phoebus
Name[cs]=Phoebus
Name[da]=Phoebus
Name[de]=Phoebus
Name[en_CA]=Phoebus
Name[en_GB]=Phoebus
Name[es]=Phoebus
Name[eu]=Phoebus
Name[fi]=Phoebus
Name[fr]=Phoebus
Name[gl]=Phoebus
Name[gu]=Phoebus
Name[he]=Phoebus
Name[hu]=Phoebus
Name[it]=Phoebus
Name[ja]=Phoebus
Name[ko]=Phoebus
Name[ky]=Phoebus
Name[lt]=Phoebus
Name[lv]=Phoebus
Name[mk]=Phoebus
Name[nb]=Phoebus
Name[nl]=Phoebus
Name[pl]=Phoebus
Name[pt]=Phoebus
Name[pt_BR]=Phoebus
Name[ru]=Phoebus
Name[sl]=Phoebus
Name[sv]=Phoebus
Name[th]=Phoebus
Name[uk]=Phoebus
Name[vi]=Phoebus
Name[zh_CN]=Phoebus
Name[zh_HK]=Phoebus
Name[zh_TW]=Phoebus
GenericName=Media Player
GenericName[br]=Lenner liesvedia
GenericName[ca]=Reproductor multimèdia
GenericName[cs]=Multimediální přehrávač
GenericName[da]=Medieafspiller
GenericName[de]=Medien-Wiedergabeprogramm
GenericName[en_GB]=Media Player
GenericName[es]=Reproductor multimedia
GenericName[eu]=Musika-erreproduzitzailea
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur de musique
GenericName[gl]=Reprodutor de música
GenericName[gu]=મીડિયા પ્લેયર
GenericName[he]=נגן מדיה
GenericName[hu]=Zenelejátszó
GenericName[it]=Riproduttore multimediale
GenericName[ko]=미디어 플레이어
GenericName[ky]=Медиаойнотуучу
GenericName[lt]=Medijos leistuvas
GenericName[nb]=Musikkavspiller
GenericName[nl]=Muziekspeler
GenericName[pl]=Odtwarzacz multimediów
GenericName[pt]=Reprodutor de Media
GenericName[pt_BR]=Reprodutor de mídia
GenericName[ru]=Медиапроигрыватель
GenericName[sl]=Večpredstavnostni predvajalnik
GenericName[sr]=Музичка и филмска кутија
GenericName[sr@latin]=Muzička i filmska kutija
GenericName[sv]=Mediaspelare
GenericName[uk]=Програвач медіа
GenericName[zh_CN]=媒体播放器
GenericName[zh_HK]=媒體播放程式
GenericName[zh_TW]=媒體播放程式
X-GNOME-FullName=Phoebus Media Player
X-GNOME-FullName[be@latin]=Multymedyjny player Phoebus
X-GNOME-FullName[br]=Lenner mediaoù Phoebus
X-GNOME-FullName[ca]=Reproductor multimèdia Phoebus
X-GNOME-FullName[cs]=Hudební přehrávač Phoebus
X-GNOME-FullName[da]=Phoebus medieafspiller
X-GNOME-FullName[de]=Phoebus Medien-Wiedergabeprogramm
X-GNOME-FullName[en_GB]=Phoebus Media Player
X-GNOME-FullName[es]=Reproductor multimedia Phoebus
X-GNOME-FullName[eu]=Phoebus musika-erreproduzitzailea
X-GNOME-FullName[fi]=Phoebus-musiikkisoitin
X-GNOME-FullName[fr]=Lecteur de musique Phoebus
X-GNOME-FullName[gl]=Reprodutor de música Phoebus
X-GNOME-FullName[gu]=Phoebus મીડિયા પ્લેયર
X-GNOME-FullName[he]=נגן המדיה Phoebus
X-GNOME-FullName[hu]=Phoebus zenelejátszó
X-GNOME-FullName[it]=Riproduttore multimediale Phoebus
X-GNOME-FullName[ko]=Phoebus 미디어 플레이어
X-GNOME-FullName[ky]=Phoebus медиаойнотуучусу
X-GNOME-FullName[lt]=Muzikos grotuvas „Phoebus“
X-GNOME-FullName[nb]=Phoebus musikkavspiller
X-GNOME-FullName[nl]=Phoebus-muziekspeler
X-GNOME-FullName[pa]=ਬਾਂਸ਼ੀ ਮੀਡਿਆ ਪਲੇਅਰ
X-GNOME-FullName[pl]=Odtwarzacz multimediów Phoebus
X-GNOME-FullName[pt]=Reprodutor Multimédia Phoebus
X-GNOME-FullName[pt_BR]=Reprodutor de mídia Phoebus
X-GNOME-FullName[ru]=Медиапроигрыватель Phoebus
X-GNOME-FullName[sl]=Phoebus predvajalnik multimedijskih datotek
X-GNOME-FullName[sr]=Злослутничка музичка кутија
X-GNOME-FullName[sr@latin]=Zloslutnička muzička kutija
X-GNOME-FullName[sv]=Musikspelaren Phoebus
X-GNOME-FullName[uk]=Програвач медіа Phoebus
X-GNOME-FullName[zh_CN]=Phoebus 媒体播放器
X-GNOME-FullName[zh_HK]=Phoebus 媒體播放程式
X-GNOME-FullName[zh_TW]=Phoebus 媒體播放程式
Comment=Play and organize your media collection
Comment[da]=Afspil og organisér din mediesamling
Comment[es]=Reproduzca y organice su colección multimedia
Comment[fr]=Lecture et organisation de votre bibliothèque multimédia
Comment[ko]=미디어 모음 재생 및 구성
Comment[zh_HK]=播放並管理你的媒體收藏
Comment[zh_TW]=播放並管理您的媒體收藏
Icon=media-player-phoebus
StartupNotify=true
Terminal=true
Type=Application
Categories=GNOME;Audio;Music;Player;AudioVideo;X-Ximian-Main;X-Novell-Main;X-Red-Hat-Base;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=phoebus
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=1.5.3
